:root {
  --border: 1px solid deeppink;

  --main-color: black;
  --main-background: white;

  --button-border: 1px solid deeppink;
  --button-color: black;
  --button-background: transparent;

  --input-border: none;
  --input-color: black;
  --input-background: transparent;
  --input-shadow: 0 1px 3px black;

  --bubble-border: 1px solid #1b1b1b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--main-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#settings {
  position: absolute;
  top: 2%;
}

#auth {
  display: flex;
  height: 100%;
  display: flex;
  align-items: center;
}

nav a,
#auth button {
  text-decoration: none;
  margin: 0.5rem;
}

.auth {
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
}

#logo {
  font-size: 2rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  max-height: 90vh;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form * {
  margin: 0.5rem;
}

form input {
  height: 1.5rem;
  border: var(--input-border);
  border-radius: 5px;
  background-color: var(--input-background);
  box-shadow: var(--input-shadow);
  padding: 5px;
  color: var(--input-color)
}

button {
  border-radius: 50%;
  border: var(--button-border);
  background-color: var(--button-background);
  height: 3rem;
  width: 3rem;
  color: var(--button-color);
}

/* home page --------------------- */

.homePage {
  justify-content: space-evenly;
}

.bubble {
  height: 25%;
  width: 80%;
  border: var(--bubble-border);
  border-radius: 10px;
  padding: 0.25rem;
}

.bubbleButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0.25rem;
}

.bubbleItems {
  height: 65%;
  overflow-y: scroll;
  border: var(--bubble-border);
  border-radius: 0 0 10px 10px;
  padding: 0.5rem;
}

.bubbleItems div {
  cursor: pointer;
  margin-bottom: 5px;
}

/* list view --------------------- */

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listName,
.recordName {
  text-align: center;
}

#newNameInput {
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  box-shadow: none;
}

.newListItemForm {
  position: relative;
  flex-direction: row;
  width: 65vw;
}

.newListItemInputs {
  width: 75%;
}

.newListItemButton {
  position: absolute;
  right: 0;
  font-size: 1.25rem;
}

.listItems {
  height: 60vh;
  width: 85vw;
}

.listItem {
  position: relative;
  padding: 0.5rem;
}

.listItemText {

}

.checkbox {
  position: absolute;
  left: -1rem;
  top: 0.68rem;
  border: var(--button-border);
}

#editListItemForm {
  align-items: left;
}

#editListItemForm input {
  width: 100%;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: left;
  outline: none;
  box-shadow: none;
}

.editListItemButton {
  position: absolute;
  display: none;
}

.listItemDeleteButton,
.recordEntryDeleteButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
}

.exitListButton,
.exitRecordButton,
.exitEventButton {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.deleteListButton,
.deleteRecordButton,
.deleteEventButton {
  position: absolute;
  bottom: 2%;
  right: 5%;
}

.shareList,
.shareRecord,
.shareEvent {
  position: absolute;
  bottom: 2%;
  right: 25%;
}

#shareListForm,
#shareRecordForm,
#shareEventForm {
  flex-direction: row;
  background-color: var(--main-background);
}

#shareListForm *,
#shareRecordForm *,
#shareEventForm * {
  margin: 0;
  margin-left: 0.5rem;
}

/* records --------------------- */

.record {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
}

.newRecordEntryForm {
  height: auto;
}

.recordEntry {
  position: relative;
  width: 100%;
  padding: 0.75rem 1rem;
}

.recordEntryDeleteButton {
  right: 1rem;
}

.chartboxbox {
  overflow-x: scroll;
  width: 100vw;
  height: auto;
  min-height: 20vh;
}

.chartbox {
  height: 100%;
  width: auto;
}

.recordEntries {
  width: 100%;
  height: auto;
  overflow: hidden;
  overflow-y: scroll;
}

#overlay {
  position: absolute;
  right: 45%;
  bottom: 2%;
  max-width: 50vw;
  max-height: 25vh;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  background: var(--main-background);
}

#overlayButton {
  height: 3rem;
  width: 3rem;
  border: var(--button-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-size: 0.88rem;
  background: var(--button-background);
}

#overlayOptions {
  padding: 0.5rem;
  border: var(--button-border);
  border-radius: 10px;
  background: var(--button-background);
}

#overlayOptions p {
  padding: 0.25rem;
}

/* event --------------------- */
 
#eventPage {
  justify-content: space-evenly;
}

.event {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.event input {
  height: unset;
  text-align: center;
  outline: none;
  box-shadow: unset;
  margin: 0.25rem;
  padding: 0;
  font-size: 1rem;
}

.event p {
  margin: 0.25rem;
}

#eventName {
  font-size: 1.5rem;
  margin: 0.25rem;
}

#eventDatetime {
  font-size: 1rem;
  margin: 0.25rem;
}

/* --------------------- */

.logButton {
  position: absolute;
  bottom: 2%;
  left: 2%;
  height: 2rem;
  width: 2rem;
}
